.home {
    margin: 2rem;
    margin-left: 115px;
  }
  
  .episodes-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  h1 {
    text-align: left;
  }

  p {
    text-align: left;
  }

  .blue-link {
    color: lightblue;
  }
  
  .episodes-grid img {
    max-width: 200px;
  }